.chart-card{

    margin-top:35px;

    background:#ffffff;

    border-radius:24px;

    padding:30px;

    border:1px solid #E9E2D5;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.chart-card h2{

    color:#065F46;

    margin-bottom:20px;

    font-size:28px;

}