*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:
    linear-gradient(
        to bottom,
        #ffffff 0%,
        #fbf7ef 20%,
        #F7F2E7 100%
    );
}

/* ---------- Page ---------- */

.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 20px;
}

/* ---------- Card ---------- */

.login-card{

    width:100%;
    max-width:560px;

    background:#ffffff;

    padding:48px;

    border-radius:22px;

    border:1px solid #E9E2D5;

    box-shadow:0 20px 50px rgba(0,0,0,.08);
}

/* ---------- Heading ---------- */

.login-card h2{

    text-align:center;

    color:#0A6B4F;

    font-size:56px;

    font-weight:700;

    margin-bottom:18px;
}

.subtitle{

    text-align:center;

    color:#4B5563;

    font-size:18px;

    line-height:1.5;

    margin-bottom:50px;
}

/* ---------- Inputs ---------- */

.input-group{

    width:100%;

    margin-bottom:28px;
}

.input-group label{

    display:block;

    margin-bottom:10px;

    font-size:16px;

    font-weight:700;

    color:#0A0E1A;
}

.input-group input{

    width:100%;

    height:56px;

    padding:0 20px;

    border:1px solid #D9D4C8;

    border-radius:12px;

    font-size:16px;

    outline:none;

    transition:.2s;

    background:white;
}

.input-group input:focus{

    border-color:#0A6B4F;

    box-shadow:0 0 0 3px rgba(10,107,79,.12);
}

/* ---------- Password ---------- */

.password-box{

    position:relative;

    width:100%;
}

.password-box input{

    width:100%;

    padding-right:52px;
}

.eye-icon{

    position:absolute;

    right:18px;

    top:50%;

    transform:translateY(-50%);

    cursor:pointer;

    color:#808080;
}

/* ---------- Forgot Password ---------- */

.forgot-password{

    text-align:right;

    margin-top:-14px;

    margin-bottom:24px;

    font-size:17px;

    font-weight:600;

    color:#0A0E1A;

    cursor:pointer;
}

.forgot-password:hover{

    color:#065F46;
}

/* ---------- Button ---------- */

.login-card button{

    width:100%;

    height:56px;

    border:none;

    border-radius:12px;

    background:#0A0E1A;

    color:white;

    font-size:18px;

    font-weight:700;

    cursor:pointer;

    transition:.25s ease;
}

.login-card button:hover{

    background:#1E293B;

}

/* ---------- Register ---------- */

.register-text{

    margin-top:28px;

    text-align:center;

    font-size:17px;

    color:#6B7280;
}

.register-text span{

    color:#065F46;

    font-weight:700;

    cursor:pointer;
}

.register-text span:hover{

    color:#0A6B4F;
}