.navbar{
    height:80px;
    background:white;
    border-bottom:1px solid #E9E2D5;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
}

.navbar h2{
    color:#065F46;
}

.profile{
    font-size:18px;
    font-weight:600;
}