.sidebar{
    width:250px;
    min-height:100vh;
    background:#ffffff;
    border-right:1px solid #E9E2D5;
    padding:30px 20px;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.sidebar h2{
    color:#065F46;
    text-align:center;
    margin-bottom:40px;
    font-size:30px;
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;
    color:#0A0E1A;
    padding:14px;
    border-radius:12px;
    margin-bottom:10px;
    font-size:17px;
    transition:.3s;
}

.sidebar a:hover{
    background:#065F46;
    color:white;
}

.sidebar .active{
    background:#065F46;
    color:white;
}